<div class="card">
  <a href="/user/{{id}}">
    <header class="user-firstname">{{firstname}} {{lastname}}</header>
    <div class="card-body">
      <div class="user-avatar"><img src="{{img_url}}"></div>
      <div class="user-bio">{{bio}}</div>
    </div>
  </a>
</div>
