<div>
    <section class="container photos">

        <img src="../../public/assets/img/avatar/preset/{{sex}}/{{avatar}}">

        {{!-- Carousel so the user can click through different photos of potential matches
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{#each photos as |photo|}}
            {{> user-photos}}
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div> --}}

    </section>

    <section class="container bio">
        <h4>{{firstname}} {{lastname}}</h4>
        <p>{{bio}}</p> 
    </section>
</div>
