<link rel="stylesheet" href="/assets/css/profile.css" />

<section id="user-info-con" class="container">
    <div id="user-avatar" class="avatar cards"><img id="user-avatar-img" src="{{user.avatarImgPath}}"/></div>

    <div id="user-info" class="cards">
        <div id="user-fullname">{{user.firstname}} {{user.lastname}}</div>
        <div id="user-interest">Interests: {{user.interest}}</div>
        <div id="user-bio">{{user.bio}}</div>       
    </div>

</section>

{{!-- Form for the avatar --}}

<section id="user-option-con" class="container" style="justify-content: center;">

    <div id="user-ai-create" class="cards option">
        <a id="create-ai-btn" class="button" href="/ai-partner">Create AI Partner</a>

    </div>


    <div id="user-avatar-upload" class="cards option">
        
        <form enctype="multipart/form-data" id="avatar-form">
            <input id="user-avatar-input" class="upload-input" type="file" accept=".jpg" name="avatar" />
            <button class="button" type="submit">Upload Avatar</button>
        </form>
        <div id="avatar-uploaded-status"></div>
        <div id="avatar-uploading"><img src="/assets/img/site/loading.gif" style="width: 50px"/> Uploading</div>
    </div>


    {{!-- Form for the photos --}}
    <div id="user-photo-upload" class="cards option">
        <form enctype="multipart/form-data" id="photo-form">
            <input id="user-photo-input" class="upload-input" type="file" accept=".jpg" name="photos" />
            <button class="button" type="submit">Upload Photo</button>
        </form>
        <div id="photo-uploaded-status"></div>
        <div id="photo-uploading"><img src="/assets/img/site/loading.gif"  style="width: 50px"/> Uploading</div>
    </div>

</section>


{{!-- user photo gallery section --}}

<section id="user-photo-sec">
<h2>Photo Gallery<h2>
<div id="user-photo-con">
    

</div>
</section>

{{!-- <div id="user-photos">
<section class="container photos">
        {{!-- Carousel so the user can click through different photos of potential matches --}}
    <div id="carouselExampleControls" class="carousel" >
    <div class="carousel-inner">

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div> 

</section>
</div>
 --}}

<script>var user = { id: {{user.id}} }</script>
<script src="./assets/js/profile.js"></script>